Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Ss]torages*/
/PrecompiledWeb
*.dbmdl
*.dbmdl
/web.micajah.fileservice/{12BE3DE3-6F7F-4796-85F8-B4EA77A8C5EB}/
/[Pp]ublish/
*.jfm
.vs
