<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <connectionStrings>
    <add name="Micajah.FileService.Server.ConnectionString" connectionString="Data Source=(local);Initial Catalog=FileService;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <globalization culture="en-US" uiCulture="en-US"/>
    <httpRuntime maxRequestLength="53248" executionTimeout="900"/>
    <webServices>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
    </webServices>
    <urlMappings enabled="true">
      <add url="~/File.aspx" mappedUrl="~/File.ashx"/>
    </urlMappings>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
    </diagnostics>
    <tokenIssuer>
      <statefulSecurityContextToken enabled="true"/>
    </tokenIssuer>
    <messaging>
      <mtom serverMode="optional"/>
      <maxMessageLength value="53248"/>
    </messaging>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>