<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Micajah.FileService.Tools.CopyFilesToFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Micajah.FileService.Tools.CopyFilesToFolder.Properties.Settings.MetaDataConnectionString"
      connectionString="Data Source=(local);Initial Catalog=BWA_HelpDesk_1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <applicationSettings>
    <Micajah.FileService.Tools.CopyFilesToFolder.Properties.Settings>
      <setting name="StoragePath" serializeAs="String">
        <value>E:\Projects\bigWebApps\Micajah.FileService\Storages\test\</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value>E:\Projects\bigWebApps\Micajah.FileService\Storages\output\</value>
      </setting>
      <setting name="OrganizationId" serializeAs="String">
        <value>d4829403-e803-410c-a43e-32d7b8a5e36d</value>
      </setting>
      <setting name="DepartmentId" serializeAs="String">
        <value>d4829403-e803-410c-a43e-32d7b8a5e36d</value>
      </setting>
      <setting name="LocalObjectTypes" serializeAs="String">
        <value>instance-dbdata-export,tickets-tickets-files</value>
      </setting>
    </Micajah.FileService.Tools.CopyFilesToFolder.Properties.Settings>
  </applicationSettings>
</configuration>
