<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Micajah.FileService.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Micajah.FileService.Tools.UpdateChecksum.Properties.Settings.FileServiceConnectionString"
        connectionString="Data Source=(local);Initial Catalog=FileService;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Micajah.FileService.Tools.UpdateChecksum.Properties.Settings.FileService_MetaDataConnectionString"
        connectionString="Data Source=(local);Initial Catalog=FileService_MetaData;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Micajah.FileService.Client.Properties.Settings.MetaDataConnectionString"
         connectionString="Data Source=(local);Initial Catalog=FileService_MetaData;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Micajah.FileService.Client.Properties.Settings>
      <setting name="WebServiceUrl" serializeAs="String">
        <value>http://localhost:1572/web.micajah.fileservice/FileMTOMService.asmx</value>
      </setting>
      <setting name="WebServiceInternalUrl" serializeAs="String">
        <value>http://127.0.0.1:1572/web.micajah.fileservice/FileMTOMService.asmx</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value>9ce94487-0765-4ab8-b427-9cc3c5fb630a</value>
      </setting>
      <setting name="LinksExpiration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LinksExpirationTimeout" serializeAs="String">
        <value>60</value>
      </setting>
    </Micajah.FileService.Client.Properties.Settings>
  </applicationSettings>
</configuration>